{% extends 'threads/base.html' %}
{% load bootstrap3 %}

{% block header %}
  <div class="jumbotron">
    <h1>Post, learn, discuss.</h1>
  </div>
{% endblock header %}

{% block content %}
    <h2>Topic Board is a message board for posting topics to dicuss and learn more about.</h2>

    <!-- Clicky analytics-->
    <script src="//static.getclicky.com/js" type="text/javascript"></script>
    <script type="text/javascript">try{ clicky.init(101055283); }catch(e){}</script>
    <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101055283ns.gif" /></p></noscript>
{% endblock content %}



