{% extends 'threads/base.html' %}
{% load bootstrap3 %}

{% block header %}
    <style type="text/css">
        p {
            font-size: 1.6rem;
        }
    </style>
    <h1>Threads:</h1>
    
{% endblock header %}

{% block content %}
    
    <h2 style="font-size: 2rem;">
        <a href="{% url 'new_thread' %}">Create a thread</a>
    </h2>

    <ul style="list-style: none; padding-left: 0;">
        {% for topic in topics %}
        <li>

            <div class="list-group">
                <a href="{% url 'thread' topic.id %}" class="list-group-item">
                    <p style="float: right; font-weight: 700;">R:<span class="badge">{{ topic.message_set.all|length }}</span>
                    </p>
                    
                    <h3 class="list-group-item-heading">
                        {{ topic.text }} - {{ topic.name }}
                    </h3>
                    <h4 style="color: #777;">
                        {{ topic.date|date:'m/d/y (D) H:i'}} - ({{ topic.id }})
                    </h4>
                    <p style="font-size: 1.5rem;" class="list-group-item-text">{{ topic.description }}</p>
                </a>
            </div>


            <!-- <h3>
                <a href="{% url 'thread' topic.id %}">{{ topic.text }}</a>
                - {{ topic.name }} - {{ topic.date|date:'m/d/y (D) H:i' }} - ({{ topic.id }})
                <br>
                {{ topic.description }}
            </h3> -->
        </li>
        {% empty %}
        <li>No threads have been added yet.</li>
        {% endfor %}
    </ul>

    


{% endblock content %}